{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info">
            <article class="footer-info-col footer-info-aboutUs" data-section-type="footer-webPages">
                <h3 class="footer-info-heading js-footer-info-heading">
                    <span>{{lang 'About Us'}}</span>
                    <span class="icon icon-add">
                        <svg><use xlink:href="#icon-add" /></svg>
                    </span>
                    <span class="icon icon-minus">
                        <svg><use xlink:href="#icon-minus" /></svg>
                    </span>
                </h3>
                <div class="footer-info-list" id="footer-about-us">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <div class="badge-list">
                        <img src="https://cdn11.bigcommerce.com/s-863wmd7ukn/product_images/uploaded_images/iso-badge.png">
                        <img src="https://cdn11.bigcommerce.com/s-863wmd7ukn/product_images/uploaded_images/usa-badge.png">
                    </div>
                </div>
            </article>

            <article class="footer-info-col" data-section-type="footer-categories">
                <h3 class="footer-info-heading js-footer-info-heading">
                    <span>{{lang 'footer.categories'}}</span>
                    <span class="icon icon-add">
                        <svg><use xlink:href="#icon-add" /></svg>
                    </span>
                    <span class="icon icon-minus">
                        <svg><use xlink:href="#icon-minus" /></svg>
                    </span>
                </h3>
                <ul class="footer-info-list">
                    {{#each categories}}
                        {{#if (lowercase name) '===' 'products'}}
                            {{#each children}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                        {{/if}}
                    {{/each}}
                    {{#each pages}}
                        {{#all (if (lowercase name) '===' 'products menu static page') children}}
                            {{#each children}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                        {{/all}}
                    {{/each}}
                </ul>
            </article>

            {{#each pages}}
                {{#if (lowercase name) '===' 'footer resources'}}
                    <article class="footer-info-col footer-info-webPages" data-section-type="footer-webPages">
                        <h3 class="footer-info-heading js-footer-info-heading">
                            <span>{{#replace 'Footer ' name}} {{else}}{{name}}{{/replace}}</span>
                            <span class="icon icon-add">
                                <svg><use xlink:href="#icon-add" /></svg>
                            </span>
                            <span class="icon icon-minus">
                                <svg><use xlink:href="#icon-minus" /></svg>
                            </span>
                        </h3>
                        <ul class="footer-info-list">
                            {{#each children}}
                                <li>
                                    <a href="{{url}}">{{#replace 'Footer ' name}} {{else}}{{name}}{{/replace}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </article>
                {{/if}}
            {{/each}}

            <article class="footer-info-col footer-info-storeInfo" data-section-type="storeInfo">
                <h5 class="footer-info-heading">
                    <a class="button button--primary button--trapezoid" href='/about-us/'>{{lang 'footer.info'}}</a>
                </h5>
                <ul class="footer-info-list">
                    <li>
                        <a href="tel:{{theme_settings.store_phone}}">
                            <span class="icon">
                                <svg><use xlink:href="#icon-phone" /></svg>
                            </span>
                            {{theme_settings.store_phone}}(Phone)
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{theme_settings.store_toll_free}}">
                            <span class="icon">
                                <svg><use xlink:href="#icon-phone" /></svg>
                            </span>
                            {{theme_settings.store_toll_free}}(Toll Free)
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{theme_settings.store_fax}}">
                            <span class="icon">
                                <svg><use xlink:href="#icon-print" /></svg>
                            </span>
                            {{theme_settings.store_fax}}(Fax)
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{theme_settings.store_email}}">
                            <span class="icon">
                                <svg><use xlink:href="#icon-envelope" /></svg>
                            </span>
                            {{theme_settings.store_email}}
                        </a>
                    </li>
                </ul>
                {{#if settings.address}}
                    <!-- <address>{{nl2br settings.address}}</address> -->
                {{/if}}
                {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
                    {{> components/common/social-links}}
                {{/if}}
            </article>

            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <article class="footer-info-col" data-section-type="footer-brands">
                <h5 class="footer-info-heading">{{lang 'footer.brands'}}</h5>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </article>
            {{/and}}

            <article class="footer-info-col footer-info-newsletterSubscription" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                {{> components/common/payment-icons}}
            </article>
        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">Powered by <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}
    </div>
    {{#if theme_settings.show_copyright_footer}}
        <div class="footer-copyright">
            <div class="container">
                <p class="powered-by">&copy; {{moment format="YYYY"}} The Socket Source, Inc. <span class="powered-rights">All Rights Reserved</span></p>
            </div>
        </div>
    {{/if}}
</footer>
