<div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-{{id}}" aria-hidden="true" tabindex="-1" data-toggle-menu>
    <div class="container">
        <ul class="navPage-subMenu-list">
            <li class="navPage-subMenu-item-parent">
                <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
            </li>
            {{#each children}}
                <li class="navPage-subMenu-item-child">
                    {{#if children}}
                        <a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}" data-collapsible="navPages-{{id}}">
                            {{#if image}}
                                <img class="navPages-image" src="{{getImage image '75x75' (cdn theme_settings.default_image_product)}}" width="75" height="75" alt="{{image.alt}}"/>
                            {{/if}}
                            <span class="navPages-label">{{name}}</span>
                            <span class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></span>
                        </a>
                        {{> components/common/navigation-dropdown}}
                    {{else}}
                        <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}">
                            {{#if image}}
                                <img class="navPages-image" src="{{getImage image '75x75' (cdn theme_settings.default_image_product)}}" width="75" height="75" alt="{{image.alt}}"/>
                            {{/if}}
                            <span class="navPages-label">{{name}}</span>
                        </a>
                    {{/if}}
                </li>
            {{/each}}
            {{#if staticPages}}
                {{#each staticPages}}
                    {{#all (if (lowercase name) '===' 'products menu static page') children}}
                        {{#each children}}
                            <li class="navPage-subMenu-item-child navPage-subMenu-item-staticPage">
                                <a class="navPage-subMenu-action navPages-action" href="{{url}}">
                                    <span class="navPages-label">{{name}}</span>
                                </a>
                            </li>
                        {{/each}}
                    {{/all}}
                {{/each}}
            {{/if}}
        </ul>
    </div>
</div>
