<nav class="navPages">
    <div class="navPages-mobile-toggle" data-navPages-mobile-toggle>
        <button class="button button--primary is-active" data-open="#navPages-list-menu">Menu</button>
        <button class="button button--primary" data-open="#navPages-list-user">{{#if customer}}{{lang 'common.account'}}{{else}}{{lang 'Log In / Register'}}{{/if}}</button>
    </div>
    <ul id="navPages-list-menu" class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}} is-show">
        {{#each categories}}
            <li class="navPages-item" data-toggle-item>
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
                {{> components/common/navigation-list}}
            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                {{> components/common/navigation-list-alternate staticPages=../../pages}}
            {{/if}}
            </li>
        {{/each}}
        {{#unless theme_settings.hide_content_navigation}}
            {{#each pages}}
                {{#if (lowercase name) '===' 'header top'}}
                    {{#each children}}
                        <li class="navPages-item navPages-item-page" data-toggle-item>
                            {{> components/custom/navigation-page-list}}
                        </li>
                    {{/each}}
                {{/if}}
             {{/each}}
        {{/unless}}
    </ul>
    <div id="navPages-list-user">
        {{#if customer}}
            {{> components/custom/account-list}}
        {{else}}
            {{> components/custom/login-form type='navPages'}}
        {{/if}}
    </div>
</nav>
