.navUser-action[href="/login.php?action=create_account&show_tpa"] {
    display: none;
}
.form-row-wrap {
    @include breakpoint('small') {
        display: flex;
        justify-content: space-between;

        .form-row {
            width: 48%;
        }
    }
}
.create-account-addresses {
    h4 {
        // padding: 0 0.75rem;
    }
    .use-billing-checkbox {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin-left: 20px;

        .form-checkbox + .form-label {
            font-size: 14px;
            padding-left: 1.5rem;
        }
    }
}

// complete regitration
.account-columns {

    @include breakpoint("medium") {
        display: flex;
        align-items: center;

        &.middle {
            align-items: center;
        }
    }
    .account-column {
        @include breakpoint("medium") {
            width: 60%;

            &:nth-child(2) {
                width: 40%;
                display: flex;
                align-items: center;
            }

        }
    }
}
.account-new-customer {
    @include breakpoint("medium") {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    h4 {
        @include breakpoint("medium") {
            margin-top: 0;
        }
    }
}

.form-flex-box {
    display: flex;
    flex-wrap: wrap;

    .form-field {
        &[data-type="AddressLine1"] {
            order: 1;
        }
        &[data-type="AddressLine2"] {
            order: 2;
        }
        &[data-type="City"] {
            order: 3;
        }
        &[data-type="Country"] {
            order: 4;
        }
        &[data-type="State"] {
            order: 5;
        }
        &[data-type="Zip"] {
            order: 6;
        }
    }
}