.navUser-item--account {
    @include breakpoint("medium") {
        #account-dropdown {
            width: 218px;
            max-width: 218px;
            left: auto !important;
            right: 80px !important;
            border: none;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);

            &.is-open {
                &::before,
                &::after {
                    left: auto;
                    right: 100px;
                }
            }

            &.dropdown-menu--login {
                width: 400px;
                max-width: 400px;
                left: auto !important;
                right: 0 !important;

                &.is-open {
                    &::before,
                    &::after {
                        left: auto;
                        right: 180px;
                    }
                }
            }
        }
    }
}

.login-form,

.custom-login-form {
    padding: 20px;

    .form-label {
        font-family: $header-font-family;
        font-size: fontSize("smallest");
        font-weight: bold;
        text-transform: uppercase;

        small {
            display: none;
        }
    }

    .form-actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include breakpoint("medium") {
            flex-direction: row;
            align-items: center;

        }

        .button--trapezoid {
            width: 100%;
            margin: 0;

            @include breakpoint("medium") {
                width: auto;
            }
        }

        .forgot-password {
            font-weight: bold;
            text-align: left;
            margin: 20px 0 0;

            @include breakpoint("medium") {
                margin: 0 0 0 25px;
            }
        }
    }
}

.custom-registration {
    padding: 30px 20px;
    background: stencilColor("color-greyLightest");

    .registration-tips {
        font-size: fontSize("large");
    }

    .registration-list {
        margin: 0;
        .registration-item {
            display: flex;
            align-items: center;

            + .registration-item {
                margin-top: 15px;
            }

            h6 {
                width: 180px;
                letter-spacing: 0;
                line-height: 22px;
                margin: 0;
            }

            a {
                font-size: fontSize("smaller");
                font-weight: bold;
                letter-spacing: 0;
            }
        }
    }
}

.account-list {
    padding: 10px 20px !important;

    @include breakpoint("medium") {
        padding: 18px 20px !important;
    }
    .account-item {
        padding: 10px 0;

        @include breakpoint("medium") {
            padding: 0;

            + .account-item {
                padding: 10px 0 0;
            }
        }

        .account-action {
            font-family: $header-font-family;
            font-size: fontSize("smallest");
            line-height: 24px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;

            @include breakpoint("medium") {
                font-family: $body-font-family;
                text-transform: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}