#cms-page {
    .cms-accordion {
        .accordion-block {
            margin-top: $accordion-navList-spacing;

            .accordion-content {
                padding: $accordion-navList-padding 0;
                @include breakpoint("medium") {
                    padding: $accordion-navList-padding;
                }
            }

            .accordion-navigation {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 13px 10px;
                background-position: right 0 top 50%;
                background: stencilColor("color-greyLightest");
                border: 0;
            }

            .accordion-title {
                text-decoration: none;
                padding: 0;
            }

            .accordion-indicator {
                @include square(20px);
            }
        }
    }

    div[data-content-region="page_builder_content"] {
        >div[data-layout-id] {
            >div[data-sub-layout-container] {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: layout("max") + ($container-padding * 2);
                padding-left: $container-padding;
                padding-right: $container-padding;
                margin-left: auto;
                margin-right: auto;

                > div[data-sub-layout] {
                    @media (max-width: 767px) {
                        flex-basis: 100%;
                        max-width: 100%;
                        padding: 0;
                        justify-content: flex-start;
                    }
                }

                &[data-layout-name="Full-1"] {
                    max-width: 100%;
                    @include breakpoint("medium") {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    > div[data-sub-layout] {
                        @include breakpoint("medium") {
                            max-width: layout("max");
                        }

                        > div[data-widget-id]:first-of-type {
                            font-family: $header-font-family;
                        }
                    }
                }

                &[data-layout-name="Full-2 Left"],
                &[data-layout-name="Full-2 Right"] {
                    max-width: 100%;
                    padding-left: 0;
                    padding-right: 0;

                    >div[data-sub-layout] {
                        @include breakpoint("small") {
                            max-width: layout("max") / 2;
                        }

                        &:nth-of-type(1) {
                            padding: 0 1.5rem;
                            @include breakpoint("small") {
                                padding: 0;
                            }
                        }

                        &:nth-of-type(2) {
                            padding: 35px 1.5rem 0;
                            @include breakpoint("small") {
                                padding: 0;
                            }

                            > div[data-widget-id]:nth-of-type(2) {
                                font-family: $header-font-family;
                            }
                        }

                        #buttonLink {
                            span[data-edit-mode] {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                &[data-layout-name="Full-2 Left"] {
                    >div[data-sub-layout] {
                        @include breakpoint("small") {
                            &:nth-of-type(1) {
                                padding-right: 1rem;
                                padding-left: 1.5rem;
                            }
                            &:nth-of-type(2) {
                                padding-left: 1rem;
                                padding-right: 1.5rem;
                            }
                        }

                        @include breakpoint(1200px) {
                            &:nth-of-type(1) {
                                padding-left: 0;
                            }
                            &:nth-of-type(2) {
                                padding-right: 0;
                            }
                        }
                    }
                }
                &[data-layout-name="Full-2 Right"] {
                    >div[data-sub-layout] {
                        @include breakpoint("small") {
                            &:nth-of-type(1) {
                                order: 2;
                                padding-left: 1rem;
                                padding-right: 1.5rem;
                            }
                            &:nth-of-type(2) {
                                order: 1;
                                padding-right: 1rem;
                                padding-left: 1.5rem;
                            }
                        }

                        @include breakpoint(1200px) {
                            &:nth-of-type(1) {
                                padding-right: 0;
                            }
                            &:nth-of-type(2) {
                                padding-left: 0;
                            }
                        }
                    }
                }

                &[data-layout-name="Full-3 Left"],
                &[data-layout-name="Full-3 Right"] {
                    max-width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    >div[data-sub-layout] {
                        &:nth-of-type(1) {
                            // padding: 0 1.5rem;
                            padding: 0;
                            /* @include breakpoint("medium") {
                                padding: 0;
                            } */
                        }

                        &:nth-of-type(2) {
                            padding: 35px 0;
                            >div[data-widget-id] {
                                padding: 0 1.5rem;
                                display: flex;
                                align-items: flex-start;
                                @include breakpoint("small") {
                                    width: layout("max") / 2;
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
                &[data-layout-name="Full-3 Left"] {
                    >div[data-sub-layout] {
                        @include breakpoint("small") {
                            &:nth-of-type(2) {
                                align-items: flex-start;
                                >div[data-widget-id] {
                                    // padding: 0 0 0 2rem;
                                    padding: 0 2rem;
                                }
                            }
                        }
                    }
                }
                &[data-layout-name="Full-3 Right"] {
                    >div[data-sub-layout] {
                        @include breakpoint("small") {
                            &:nth-of-type(1) {
                                order: 2;
                            }
                            &:nth-of-type(2) {
                                order: 1;
                                align-items: flex-end;
                                >div[data-widget-id] {
                                    // padding: 0 2rem 0 0;
                                    padding: 0 2rem;
                                }
                            }
                        }
                    }
                }

                &[data-layout-name="Layout-2 XS"] {
                    justify-content: space-between;

                    > div[data-sub-layout] {
                        padding-left: 145px;
                        min-height: 125px;

                        @include breakpoint("medium") {
                            max-width: (layout("max") / 2) - 1.5rem;
                        }

                        >div[data-widget-id] {
                            &:nth-of-type(1) {
                                width: 125px;
                                height: 125px;
                                position: absolute;
                                top: 0;
                                left: 0;

                                @include breakpoint("medium") {
                                    top: 50%;
                                    transform: translate3D(0, -50%, 0);
                                }

                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }

                            &:nth-of-type(2) {
                                font-family: $header-font-family;
                            }
                        }
                    }
                }

                &[data-layout-name="Layout-2"] {
                    >div[data-sub-layout] {
                        @include breakpoint("medium") {
                            &:nth-of-type(1) {
                                order: 2;
                            }
                            &:nth-of-type(2) {
                                order: 1;
                            }
                        }
                    }
                }

                &[data-layout-name="Layout-3"] {
                    #buttonLink {
                        background: linear-gradient(-135deg, transparent 13px, stencilColor("button--primary-backgroundColor") 0) top right no-repeat;
                        padding: 1px;

                        >span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-width: 150px;
                            height: 50px;
                            background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--primary-backgroundColor") 0) top right no-repeat;
                            border: none;
                            padding: .875rem 2.25rem;
                        }

                        &:hover,
                        &:focus {
                            >span {
                                background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--primary-backgroundColorHover") 0) top right no-repeat;
                            }
                        }

                        &:active {
                            >span {
                                background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--primary-backgroundColorActive") 0) top right no-repeat;
                            }
                        }
                    }
                }

                &[data-layout-name="Title"] {
                    > div[data-sub-layout] {
                        > div[data-widget-id]:first-of-type {
                            font-family: $header-font-family;
                        }
                    }
                }

                &[data-layout-name="Burton Group"] {
                    font-family: $header-font-family;

                    >div[data-sub-layout] {
                        margin: 0 -6px;

                        @include breakpoint("small") {
                            flex-direction: row;
                            flex-wrap: wrap;
                        }

                        >div[data-widget-id] {
                            font-size: 0;
                            padding: 0 6px;

                            @include breakpoint("small") {
                                flex-basis: width("3/12");
                            }

                            @include breakpoint("medium") {
                                flex-basis: width("2/12");
                            }

                            #buttonLink {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    // ul
    .custom_template_ul {
        list-style: none;
        margin: 0;

        li {
            position: relative;
            margin: 0 0 6px 0;
            padding: 0 0 0 21px;
            line-height: 24px !important;

            .mk-svg-icon {
                position: absolute;
                top: 4px;
                left: 0;
                fill: #004f91; // theme color
            }
        }
    }

    // Full half view
    [data-layout-name="Full-3 Left"],
    [data-layout-name="Full-3 Right"] {
        align-items: stretch !important;

        // img
        img {
            width: 100% !important;
        }

        // column
        > div[data-sub-layout] {

            // img column
            &:nth-of-type(1) {
                padding: 0 !important;

                div {
                    height: 100% !important;
                }
            }
        }
    }

    // button group
    [data-layout-name="Burton Group"] {

        // column
        > div[data-sub-layout] {

            // row direction since ipad view
            @include breakpoint(767px) {
                flex-wrap: nowrap !important;
            }
        }
    }
}