body.hasAdminBar .header {
    padding-top: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
}

.button {
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    svg {
        fill: stencilColor("button--default-color");
    }

    &:hover,
    &:focus {
        svg {
            fill: stencilColor("button--default-colorHover");
        }
    }

    &:active {
        svg {
            fill: stencilColor("button--default-colorActive");
        }
    }

    &.button--primary {
        svg {
            fill: stencilColor("button--primary-color");
        }

        &:hover,
        &:focus {
            svg {
                fill: stencilColor("button--primary-colorHover");
            }
        }

        &:active {
            svg {
                fill: stencilColor("button--primary-colorActive");
            }
        }
    }
}


.button--trapezoid {
    background: linear-gradient(-135deg, transparent 13px, stencilColor("button--primary-backgroundColor") 0) top right no-repeat;
    padding: 1px;

    .button {
        min-width: 150px;
        background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--default-backgroundColor") 0) top right no-repeat;
        border: none;
        margin: 0 !important;

        &:hover,
        &:focus {
            background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--default-backgroundColorHover") 0) top right no-repeat;
        }

        &:active {
            background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--default-backgroundColorActive") 0) top right no-repeat;
        }

        &.button--primary {
            background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--primary-backgroundColor") 0) top right no-repeat;
            border: none;

            &:hover,
            &:focus {
                background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--primary-backgroundColorHover") 0) top right no-repeat;
            }

            &:active {
                background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--primary-backgroundColorActive") 0) top right no-repeat;
            }
        }
    }
}

.button.button--primary[disabled] {

    &:hover {
        color: stencilColor("button--primary-colorHover");
    }
}

.pagination-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: stencilColor("color-greyLightest");
    padding: 9px 10px;

    .pagination-total {
        padding-right: 30px;
    }
}

.zoid-component-frame {
    z-index: zIndex('low') !important;
}


// :focus
a:focus,
input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}


// swal

.swal2-container .swal2-icon.swal2-info {
    font-size: 1rem;
}


// shop by price

.form-minMaxRow .button {
    height: remCalc(36px);
}


// breadcrumbs

.breadcrumbs {

    .breadcrumb {

        &.is-active {
            font-weight: normal;
        }
    }
}

// Hide Stock Qty and Price Display for Guest Users as well as the ability to add item to cart and shopping list on all pages.
.not-login {
    // card
    .card-body {
        display: none!important;
    }

    // pdp
    .productView-price,
    [data-cart-item-add],
    [data-wishlist-add],
    .product_stock,
    .stock-qty {
        display: none!important;
    }

    // plp
    .products-table {
        .th-stock,
        .th-price,
        .th-actions,
        .td-stock,
        .td-price,
        .td-actions {
            display: none!important;
        }
        // .table-stock,
        // .table-price,
        // .table-actions {
        //     display: none!important;
        // }
    }
}
// non b2b
.non-b2b {
    .navBar--account {
        display: none!important;
    }
}