body.hasAdminBar .header {
    padding-top: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
}

.button {
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    svg {
        fill: stencilColor("button--default-color");
    }

    &:hover,
    &:focus {
        svg {
            fill: stencilColor("button--default-colorHover");
        }
    }

    &:active {
        svg {
            fill: stencilColor("button--default-colorActive");
        }
    }

    &.button--primary {
        svg {
            fill: stencilColor("button--primary-color");
        }

        &:hover,
        &:focus {
            svg {
                fill: stencilColor("button--primary-colorHover");
            }
        }

        &:active {
            svg {
                fill: stencilColor("button--primary-colorActive");
            }
        }
    }
}


.button--trapezoid {
    background: linear-gradient(-135deg, transparent 13px, stencilColor("button--primary-backgroundColor") 0) top right no-repeat;
    padding: 1px;

    .button {
        min-width: 150px;
        background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--default-backgroundColor") 0) top right no-repeat;
        border: none;
        margin: 0 !important;

        &:hover,
        &:focus {
            background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--default-backgroundColorHover") 0) top right no-repeat;
        }

        &:active {
            background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--default-backgroundColorActive") 0) top right no-repeat;
        }

        &.button--primary {
            background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--primary-backgroundColor") 0) top right no-repeat;
            border: none;

            &:hover,
            &:focus {
                background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--primary-backgroundColorHover") 0) top right no-repeat;
            }

            &:active {
                background: linear-gradient(-135deg, transparent 12.7px, stencilColor("button--primary-backgroundColorActive") 0) top right no-repeat;
            }
        }
    }
}

.pagination-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: stencilColor("color-greyLightest");
    padding: 9px 10px;

    .pagination-total {
        padding-right: 30px;
    }
}

.zoid-component-frame {
    z-index: zIndex('low') !important;
}


// swal

.swal2-container .swal2-icon.swal2-info {
    font-size: 1rem;
}


// shop by price

.form-minMaxRow .button {
    height: remCalc(36px);
}
