.footer-info-newsletterSubscription {
    display: none;
}

.footer-info-aboutUs {
    @include breakpoint("medium") {
        width: 35%;
    }

    p {
        line-height:24px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .badge-list {
        img {
            margin-right: 10px;
        }
    }
}
.footer-info-webPages {
    @include breakpoint("medium") {
        width: 15%;
    }
}

.footer-info-storeInfo {
    .footer-info-heading {
        .button  {
            margin: 0;
        }
    }
}

.footer-info-heading {
    margin-bottom: spacing("single");
}

.footer-info-list {

    li {
        margin-bottom: .5rem;
    }
}

.footer-copyright {
    font-size: 13px;
    background: stencilColor("color-greyLightest");
    padding: 20px 0;


    .powered-by {
        margin: 0;
    }
}