.footer-info-newsletterSubscription {
    display: none;
}

.footer-info-aboutUs {
    @include breakpoint("medium") {
        width: 35%;
    }

    p {
        line-height:24px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    img + img {
        margin-left: 10px;
    }
}
.footer-info-webPages {
    @include breakpoint("medium") {
        width: 15%;
    }
}

.footer-info-storeInfo {
    margin-bottom: spacing('double');
    .footer-info-heading {
        margin-top: 30px;
        @include breakpoint("small") {
            margin-top: 0;
        }
        .button  {
            margin: 0;
        }
    }
    .footer-info-list {
        display: block !important;
    }
}

.footer-info-heading {
    margin-bottom: spacing("single");
}

.footer-info-list {

    li {
        margin-bottom: .5rem;
    }
}

.footer-copyright {
    font-size: 13px;
    background: stencilColor("color-greyLightest");
    padding: 20px 0;


    .powered-by {
        margin: 0;
    }

    .powered-rights {
        display: block;
        @include breakpoint("small") {
            display: inline-block;
        }
    }
}