header.header {
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
    .header-top {
        height: 55px;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: normal;
        color: stencilColor("color-white");
        background: stencilColor("color-greyDarkest");

        @include breakpoint("medium") {
            height: 40px;
        }

        a, p {
            color: stencilColor("color-white");
            text-decoration: none;
            margin: 0;
        }

        svg {
            fill: stencilColor("color-white");
        }

        .header-contact {
            display: flex;
            align-items: stretch;
            justify-content: center;

            .contact-phone {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 20px;

                .navUser-icon {
                    @include square(14px);
                    margin-right: 9px;
                }

                &::after {
                    display: inline-block;
                    width: 1px;
                    height: 100%;
                    content: attr(data-separate);
                    border-right: 1px solid stencilColor("color-greyLightest");
                    padding-left: 20px;
                    font-size: 0;
                }
            }

            .header-tips {
                flex: 1;
            }
        }
    }

    .header-bottom {
        position: relative;

        >.container {
            position: static;
            padding: 0;

            @include breakpoint("medium") {
                padding: 0 $container-padding;
            }
        }
    }

    .navUser {
        padding: 0 10px;

        @include breakpoint("medium") {
            padding: 0 0 0 10px;
        }

        .navUser-section {
            margin: 0;
        }

        .navUser-icon {
            @include breakpoint("medium") {
                margin-right: 8px;
            }
        }

        .navUser-item--quickSearch {
            display: block;
            .navUser-action--quickSearch {
                font-size: 0;
                color: stencilColor("color-blue");

                .navUser-icon {
                    margin: 0;
                }

                svg {
                    fill: stencilColor("color-blue");
                }
            }
        }

        .navUser-item--account {
            .navUser-icon {
                @include square(17px);
                margin-top: -5.5px;
            }
        }

        .navUser-item--cart {
            font-size: 0;
            @include breakpoint("medium") {
                font-size: fontSize("smallest");
                background: stencilColor("color-blue");
            }

            .navUser-icon {
                @include square(22px);

                svg {
                    fill: stencilColor("color-blue");
                }

                @include breakpoint("medium") {
                    @include square(19px);

                    svg {
                        fill: stencilColor("navUser-color");
                    }
                }
            }
        }
    }


    .navPages-container {
        .navPages {
            .navPages-mobile-toggle {
                display: flex;
                align-items: center;
                .button {
                    flex: 1;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 1.5rem;
                    border: none;
                    margin: 0;
                    outline: none;

                    &.is-active {
                        color: stencilColor("button--default-color");
                        background: stencilColor("button--default-backgroundColor");

                        &:hover {
                            color: stencilColor("button--default-colorHover");
                            background: stencilColor("button--default-backgroundColorHover");
                        }

                        &:active {
                            color: stencilColor("button--default-colorActive");
                            background: stencilColor("button--default-backgroundColorActive");
                        }
                    }
                }
            }

            #navPages-list-menu {
                @media (max-width: 991px) {
                    padding: 10px 0;
                    display: none;

                    &.is-show {
                        display: block;
                    }

                    &.subMenu-is-open {
                        padding: 0 0 10px;
                        position: relative;
                        z-index: 1;
                        margin-top: -40px;
                    }

                    .navPages-action {
                        &.is-open {
                            justify-content: flex-start;
                            background: stencilColor("color-greyLightest");
                            margin-bottom: 10px;

                            .navPages-label {
                                order: 2;
                                padding-left: 8px;

                                &::before {
                                    content: 'Back to ';
                                }
                            }
                        }
                    }

                    .navPages-image {
                        display: none;
                    }


                    .container {
                        padding: 0;
                    }

                    >.navPages-item {
                        background: stencilColor("color-white");
                    }
                }

                @include breakpoint("medium") {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    >.navPages-item {
                        >.navPages-action {
                            line-height: 24px;
                            text-decoration: none;
                            .navPages-label {
                                padding: 8px 0;
                            }

                            &:hover, &.activePage {
                                .navPages-label {
                                    border-bottom: 2px solid stencilColor("color-blue");
                                }
                            }
                        }

                        >.navPage-subMenu-horizontal {
                            width: 100% !important;
                            left: 0 !important;
                            right: 0 !important;
                            background: transparent;

                            >.container {
                                padding-top: 25px;

                                >.navPage-subMenu-list {
                                    display: flex;
                                    align-items: stretch;
                                    justify-content: center;
                                    background: stencilColor("color-greyLightest");
                                    position: relative;

                                    >.navPage-subMenu-item-child {
                                        >.navPage-subMenu-action {
                                            height: 100%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            font-size: 12px;
                                            text-align: center;
                                            text-decoration: none;
                                            padding-left: 20px;
                                            padding-right: 20px;
                                            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);

                                            &:hover {
                                                color: stencilColor("color-white");
                                                background: stencilColor("color-blue");
                                            }
                                        }

                                        &:hover {
                                            .navPage-subMenu-horizontal {
                                                display: block;
                                                width: 100%;
                                                left: 0 !important;
                                                right: 0 !important;
                                                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);

                                                .container {
                                                    padding: 0;
                                                }

                                                .navPage-subMenu-list {
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    align-items: center;
                                                    font-size: 0;
                                                    width: auto;
                                                    max-width: none;
                                                    margin: 0 -20px;

                                                    &::before,
                                                    &::after {
                                                        display: none;
                                                    }

                                                    .navPage-subMenu-item-child {
                                                        width: width("4/12");

                                                        .navPage-subMenu-action {
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;

                                                            .navPages-label {
                                                                padding-left: 20px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .navPage-subMenu-item-staticPage {

                                        .navPage-subMenu-action {
                                            color: stencilColor("color-blue");
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #navPages-list-user {
                display: none;
                @media (max-width: 991px) {
                    &.is-show {
                        display: block;
                    }
                }
            }
        }
    }


    @include breakpoint("medium") {
        .header-bottom {
            >.container {
                display: flex;
                align-items: center;
                position: relative;

                .navUser {
                    position: static;

                    .navUser-flex {
                        .navUser-section--top {
                            position: absolute;
                            top: -40px;
                            right: $container-padding;

                            .navUser-or {
                                color: stencilColor("color-white");
                            }

                            .navUser-action {
                                height: 40px;
                                color: stencilColor("color-white");
                                font-size: fontSize("smallest");
                                font-weight: normal;
                                text-transform: capitalize;
                                padding: 9px 17px;

                                .navUser-label {
                                    padding-left: 8px;
                                }

                                .icon-user {
                                    @include square(18px);
                                }

                                svg {
                                    fill: stencilColor("color-white");
                                    stroke: stencilColor("color-white");
                                }
                            }
                        }
                    }
                }


                .navPages-container {
                    flex: 1;
                    padding: 0;
                    // display: flex;
                    // align-items: center;
                    // justify-content: flex-end;

                    .navPages {
                        .navPages-mobile-toggle {
                            display: none;
                        }

                        .navPages-action-moreIcon {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}