{{#if products.length '>' 0}}
<div class="products-table-container">
    <table class="products-table">
        <thead>
            <tr>
                <th class="th_sku">{{lang 'Item ID'}}</th>
                <th class="th_description">{{lang 'Description'}}</th>
                <th class="th-stock">{{lang 'Stock'}}</th>
                <th class="th-price">{{lang 'Price'}}</th>
                <th class="th-actions">{{lang 'QTY'}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr class="table-product-item" data-product-id="{{id}}">
                    <td class="td_sku">
                        <div class="table-sku">{{sku}}</div>
                    </td>
                    <td class="td_description">
                        <div class="table-description">
                            {{#each custom_fields}}{{#if (lowercase name) '===' 'short description'}}{{value}}{{/if}}{{/each}}
                        </div>
                    </td>
                    <td class="td-stock">
                        {{#if out_of_stock_message}}
                            <div class="table-stock">Call for Availability</div>
                        {{else}}
                            <div class="table-stock green">In Stock[XX]</div>
                        {{/if}}
                    </td>
                    <td class="td-price">
                        <div  class="table-price">
                            {{> components/products/price price=price}}
                        </div>
                    </td>
                    <td class="td-actions">
                        <div class="table-actions">
                            <input type="text" class="table-quantity js-table-quantity-input" value="1"/>
                            {{#if has_options}}
                                <a href="{{url}}" data-event-type="product-click" class="button button--primary" data-product-id="{{id}}">
                                    <span class="icon">
                                        <svg><use xlink:href="#icon-cart" /></svg>
                                    </span>
                                    {{lang 'products.choose_options'}}
                                </a>
                                <a href="{{url}}"
                                    class="button button--icon" 
                                    data-product-id="{{id}}" 
                                    data-product-qty="0" 
                                    data-product-sku="{{sku}}">
                                    <span class="icon">
                                        <svg><use xlink:href="#icon-clipboard" /></svg>
                                    </span>
                                    <span>{{lang 'account.wishlists.add_item'}}</span>
                                </a>
                            {{/if}}
                            {{#if pre_order}}
                                <button type="button" data-href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary js-table-add-to-cart">
                                    <span class="icon">
                                        <svg><use xlink:href="#icon-cart" /></svg>
                                    </span>
                                    {{lang 'products.pre_order'}}
                                </button>
                            {{/if}}
                            {{#if add_to_cart_url }}
                                <button type="button" data-href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--primary js-table-add-to-cart">
                                    <span class="icon">
                                        <svg><use xlink:href="#icon-cart" /></svg>
                                    </span>
                                    {{lang 'products.add_to_cart'}}
                                </button>
                                <button type="button" 
                                    class="button button--icon" 
                                    data-product-id="{{id}}" 
                                    data-shoppinglist-modal 
                                    data-product-qty="0" 
                                    data-product-sku="{{sku}}">
                                    <span class="icon">
                                        <svg><use xlink:href="#icon-clipboard" /></svg>
                                    </span>
                                    <span>{{lang 'account.wishlists.add_item'}}</span>
                                </button>
                            {{/if}}
                            
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}